@media only screen and (max-width: 900px){
  .header-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .header-wrapper .btn {
    display: none;
  }
  .menu
  {
    display: contents;
  }
}