/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

body{
  font-family: "Inter", sans-serif;
}

.container {
  width: 1110px
  ;
  margin: 0 auto;
}

a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

.btn {
  background-color: #231A36;
  color: white;
  padding: 15px 35px;
  border-radius: 25px;
}

/* header */
.header-container {
  background-image: url(/Images/General/bg.png);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 140px;
}

/* wrapper for logo + nav + button */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.header-wrapper nav a{
  color: white;
}

.header-wrapper nav a:hover{
  color: black;
}

.header-wrapper .btn {
  background-color: rgba(225, 225, 225, 0.3);
}

.menu{
  display: none;
}


/* intro text */
.header-intro-wrapper {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-intro-wrapper h1 {
  font-size: 94px;
  font-weight: 700;
  margin-bottom: 37px;
  color: white;
}

.header-intro-wrapper p {
  font-size: 16px;
  margin-bottom: 77px;
  line-height: 1.6;
  color: white;
}


/* Home page */

.global-client{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 66px;
}
.global-client > p{
  font-size: 16px;
  color: #B2B7BE;
  font-weight: bold;
}

.clients-brand-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 86px;

  
}

.clients-brand-logo img{
  width: 137px;
  height: 25px;
  object-fit: contain;
}

.homepage-container{
  padding: 85px 0px;
}

.solution-intro{
  padding-top: 65px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.solution-intro h2{
  font-weight: 600;
  color: #231A36;
}

.solution-intro p{
  color: #426666;
  font-size: 16px;
}

/* services */

.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.services{
  display: flex;
  align-items: center;
  gap: 70px;
}

.service-2{
  flex-direction: row-reverse;
}

.service-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.service-name{
  font-size: 14px;
  font-weight: 600;
}

.service-info h2{
  font-size: 30px;
  font-weight: 500;
}

.service-detail{
  font-size: 16px;
  color: #426666;
}

.service-image img{
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.influencer{
  color: #B33CDB;
}
.community{
  color: #FBBA33;
}
.managed{
  color: #DE2879;
}

.learn-more{
  display: flex;
  gap: 25px;
  align-items: center;
}

.learn-more a:nth-child(2){
  border: 1px solid;
  padding: 0 2px;
  border-radius: 100%;
}



/* satisfaction */

.satisfied-section{
  background-color: #231A36;
}

.satisfied-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #231A36;
  color: white;
  padding: 120px 0px;
}

.satisfied-wrapper > h2{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.satisfied-wrapper > p{
  font-size: 16px;
  color: #426666;
  margin-bottom: 100px;
}

.milestones{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.milestone{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.milestone h2{
  font-size: 40px;
  font-weight: 500;
}

.milestone p{
  font-size: 16px;
  color: #426666;
}

/* Happy clients */
.clients-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.clients-intro h2{
  font-size: 30px;
  font-weight: 500;
}

.clients-intro p{
  font-size: 16px;
  color: #426666;
}

.happy-clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px;
  gap: 80px;
}

.person-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.person{
  position: relative;
}

.person img{
  height: 300px;
  width: 360px;
}

.person-stats{
  position: absolute;
  bottom: -40px;
  left: 50px;
  background-color: white;
  width: 260px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.person-stats h4{
  font-size: 16px;
}
.stats{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.stat-num{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.stat-num h3{
  font-size: 24px;
  font-weight: 500;
}
.stat-num p{
  font-size: 10px;
  color: #ADADBA;
}

.person-stats .learn-more a{
  font-size: 15px;
  color: #B33CDB;
}

.star-clients{
  padding: 50px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.quote-clients{
  display: flex;
  align-items: center;
  gap: 45px;
  position: relative;
}

.client-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.quote-clients .quote{
  height: 105px;
  width: 168px;
}

.client-feedback h3{
  font-size: 40px;
  font-weight: 600;
}

.client-feedback p{
  font-size: 16px;
  color: #426666;
}

.quote-clients .star{
  position: absolute;
  top: -50px;
  left: 280px;
}

/* founder-section */
.founder-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
  gap: 100px;
}

.founder-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.founder-info > p{
  font-size: 22px;
  font-style: italic;
  color: #6D6D6D;
}

.founder-detail{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.founder-detail .name{
  color: #1C1C1D;
  font-size: 25px;
  font-weight: bold;
}

.founder-detail .position{
  font-size: 16px;
  color: #9C988F;
}

/* Subscribe */

.subscribe-wrapper{
  background-image: url(/Images/General/bg.png);
  background-position: center;
  background-size: cover;
  padding: 40px 0;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.subscribe-wrapper h2{
  font-size: 40px;
  font-weight: 500;
}

.subscribe-wrapper p{
  font-size: 16px;
}

.subscribe-arrow a{
  color: white;
  font-size: 15px;
}

.subscribe-arrow a:nth-child(2){
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 2px;
}

.subscribe-arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: #231A36;
  padding: 15px 35px;
  border-radius: 25px;
}

/* footer */

.footer-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #E3E3EA;
}

.footer-social nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: 16px;
}

.footer-social nav a:hover{
  color: red;
}

.social-media{
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright{
  padding: 40px 0;
  text-align: center;
  font-size: 11px;
  color: #959595;
}