.parent{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.child{
  height: 200px;
  width: 200px;
}

.child-1{
  background-color: red;
}

.child-2{
  background-color: blue;
}

.child-3{
  background-color: green;
}